@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: inline;
  padding: 5px;
}

.homepage-header {
  padding: 200px;
  text-align: center;
  /* color: #edf2f4; */
  color: #293241;
  background-image: url("https://images.unsplash.com/photo-1512113899577-0fedd3870bae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.resources-header {
}
